.DS_Store
*.log
/vendor
/bootstrap
/config
/modules
/storage
/plugins/demo/
/plugins/october/
/plugins/rainlab/
/plugins/anandpatel/
/plugins/uno/
/themes/demo/
/themes/swor/assets/vendor/
/themes/hambern*
index.*
server.*
artisan
.htaccess
