$header-color: #95a6b6;

$color: #2c2213;

 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
 
  body {
    margin: 0;
    padding: 0;
    background-color: #d5d6bd;
    font-family: 'Lato', sans-serif;
}
// smarfony
.container {
  display: flex;
  flex-direction: column;
}
.header {
    background-color: $header-color;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 768px) {
    .contener {
         display: grid;
         //justify-items: stretch;
         //align-items: stretch;
         min-height: 100vh;
         grid-template-columns: 210px 2fr 1fr;
         grid-template-rows: 130px auto 40px;
         //grid-template-rows: auto;
         grid-template-areas: 
         "header header header" 
         "aside content content" 
         "footer footer footer"
    }
   
    .layout-header {
      position: relative;
      padding: 10px 10px;
      grid-area: header;
      
      -webkit-box-shadow: 0 8px 6px -6px black;
      -moz-box-shadow: 0 8px 6px -6px black;
      box-shadow: 0 8px 6px -6px black;

      background-image:linear-gradient(to bottom right, #68afaf, #683a83); 
     // background-image: url('../../assets/img/SR_strzyzow.png');
      background-repeat: no-repeat;
      background-size: cover;
      h1 {
       
        font-weight: 900;
        //font-family: Georgia, 'Times New Roman', Times, serif;
        //text-transform: uppercase;
        width: 80%;
        display: inline-block;
        //color: #e6dbcb;
        color: white;
        text-shadow: 3px 3px 4px #000000;
      }
      .btn-links {
        position: absolute;
        bottom: 15px;
        right: 15px;
      }
    }
    .mylinks {
      display: block;
      width: 100px;
      height: 50px;
      position: absolute;
      bottom: 5%;
      right: 5%;
      // a {
      //   text-align: center;
      //   text-decoration: none;
      //   display: block;
      //   font-size: 1.4rem;
      //   color: #e4e7e3;
      //   background-image:linear-gradient(to right, #d8d532, #e61a1a); 
      //   padding: 6px;
      //   border-radius: 10px;
      //   border: 2px solid black;
      // }

    }

    .linki {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      grid-column-gap: 5px;
      grid-row-gap: 5px;
      .gallery_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        
      }
      a {
        text-align: center;
        font-size: 21px;
       // padding: 10px 10px;
        
      }
      figure {
        margin: 0;
        &:hover img {
          opacity: 1;
          -webkit-animation: flash 1.5s;
          animation: flash 1.5s;
        }
      }
      
      @-webkit-keyframes flash {
        0% {
          opacity: .4;
        }
        100% {
          opacity: 1;
        }
      }
      @keyframes flash {
        0% {
          opacity: .4;
        }
        100% {
          opacity: 1;
        }
      }
     
    }
    .aside-menu {
      grid-area: aside;
      align-self: stretch;
      background-color: #7eacbe;
      padding-top: 5px;
      a {
        padding: 3px 3px;
        display: block;
        text-decoration:none;
        text-align: center;
        font-size: 1.1rem;
        font-weight: 800;
        color: #2f3d42;

        &:hover {
          background-color: #5f7d8a;
          text-decoration:none;
          color: #64e0bb;
        }
      
      }
      h1 {
        color: white;
      }
      .active {
        background-color: #6c939e;
        a {
          color: #fdfdfd;
        }
      }
    }
    .layout-content {
      grid-area: content;
      align-self: stretch;
      padding: 10px 10px;
      ul {
        list-style: none;
      }
      .record-list {
        padding: 5px 5px;
        //border-bottom: 1px solid #303031;
        //border-radius: 6px 6px 3px 3px;
        //box-shadow: 2px 3px 3px 2px #303031;
        li {
          margin: 10px 0;
          border-bottom: 1px solid $color;
        }
        a {
          font-size: 1.3rem;
          text-decoration: none;
          color: #151622;
          display: block;
          &:hover {
            color: #07495a;
          }
        }
        p {
          text-align: right;
          font-size: .7rem;
          margin-bottom: 0;
          font-style: italic;
        }
        
      }
      .pagination li {
        display: inline-block;
        
      }
      .item {
        padding: 5px 5px;
        h2 {
          color: #061430;
          font-size: 1.3rem;
          border-bottom: 1px solid black;
          margin: 0;
          padding: 5px 5px;
         // font-weight: bold;
        }
        p {
          margin-top: 5px;
          height: 100%;
          padding: 5px 5px;
        }
      }

    }
    .layout-footer {
      grid-area: footer;
      //background-color: #1e504d;
      background-image:linear-gradient(to right, #68afaf, #683a83); 
      color: #182c38;
      text-align: center;
      padding: 5px 5px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      
      h3 {
         // position: relative;
         // top:50%;
          margin: 0;
          display: inline-block;
          font-size: 1.3rem;
          align-self: center;
      }
    }
   }