$header-color: #95a6b6;

 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
 
  body {
    margin: 0;
    padding: 0;
    background-color: #d5d6bd;
    font-family: 'Lato', sans-serif;
}
// smarfony
.container {
  display: flex;
  flex-direction: column;
}
.header {
    background-color: $header-color;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 768px) {
    .contener {
         display: grid;
        
         grid-template-columns: 1fr 2fr 1fr;
         grid-template-rows: auto;
         grid-template-areas: 
         "header header header" 
         "aside content content" 
         "footer footer footer"
    }
   
    .layout-header {
      padding: 20px 20px;
      grid-area: header;
      height: 200px;
      background-image:linear-gradient(to bottom right, #487462, #b3b9bb); 
      h1 {
        text-align: center;
      }
    }
    .aside-menu {
      grid-area: aside;
    }
    .layout-content {
      grid-area: content;
    }
    .layout-footer {
      grid-area: footer;
      background-color: #303031;
      color: #b2b3ac;
      text-align: center;
      padding: 10px 5px;
    }
   }