$header-color: #95a6b6;

 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
 
  body {
    margin: 0;
    padding: 0;
    background-color: #d5d6bd;
    font-family: 'Lato', sans-serif;
}
// smarfony
.container {
  display: flex;
  flex-direction: column;
}
.header {
    background-color: $header-color;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 768px) {
    .contener {
         display: grid;
         //justify-items: stretch;
         //align-items: stretch;
         min-height: 100vh;
         grid-template-columns: 1fr 2fr 1fr;
         grid-template-rows: 120px auto 60px;
         //grid-template-rows: auto;
         grid-template-areas: 
         "header header header" 
         "aside content content" 
         "footer footer footer"
    }
   
    .layout-header {
      position: relative;
      padding: 20px 20px;
      grid-area: header;
      
      -webkit-box-shadow: 0 8px 6px -6px black;
      -moz-box-shadow: 0 8px 6px -6px black;
      box-shadow: 0 8px 6px -6px black;

      background-image:linear-gradient(to bottom right, #a17f4b, #b3b9bb); 
      h1 {
        //text-align: center;
        //font-weight: bold;
        //text-transform: uppercase;
        width: 80%;
        display: inline-block;
      }
    }
    .mylinks {
      display: block;
      width: 100px;
      height: 50px;
      position: absolute;
      bottom: 5%;
      right: 5%;
      // a {
      //   text-align: center;
      //   text-decoration: none;
      //   display: block;
      //   font-size: 1.4rem;
      //   color: #e4e7e3;
      //   background-image:linear-gradient(to right, #d8d532, #e61a1a); 
      //   padding: 6px;
      //   border-radius: 10px;
      //   border: 2px solid black;
      // }

    }

    .linki {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-column-gap: 5px;
      grid-row-gap: 5px;
      a {
        text-align: center;
        font-weight: 700;
        font-size: 21px; //to do
        padding: 10px 10px;
        color: #1b1313;
        border-radius: 10px 10px 10px 10px;
        display: inline-block;
        text-decoration: none;
        &:hover {
          text-decoration: none;

        }
      }
    }
    .aside-menu {
      grid-area: aside;
      align-self: stretch;
      background-color: #3d4144;
      //min-height: 100%;
      a {
        padding: 3px 3px;
        display: block;
        text-decoration:none;
        text-align: center;
        font-size: 1.1rem;
        font-weight: 800;
        color: #b3b9bb;

        &:hover {
          background-color: #697175;
          text-decoration:none;
          color: #b3b9bb;
        }
      }
    }
    .layout-content {
      grid-area: content;
      align-self: stretch;
      padding: 10px 10px;
      ul {
        list-style: none;
      }
      .record-list {
        
        //margin: 6px 0;
        padding: 5px 5px;
        //border-bottom: 1px solid #303031;
        //border-radius: 6px 6px 3px 3px;
        //box-shadow: 2px 3px 3px 2px #303031;
        li {
          margin: 10px 0;
          border-bottom: 1px solid #a17f4b;
        }
        a {
          font-size: 1.3rem;
          text-decoration: none;
          color: #5e451f;
          display: block;
          &:hover {
            color: #302412;
          }
        }
        p {
          text-align: right;
          font-size: .7rem;
          margin-bottom: 0;
          font-style: italic;
        }
        
      }
      .pagination li {
        display: inline-block;
        
      }
      .item {
        padding: 5px 5px;
        h2 {
          color: #061430;
          font-size: 1.3rem;
          border-bottom: 1px solid #a17f4b;
          margin: 0;
          padding: 5px 5px;
         // font-weight: bold;
        }
        p {
          margin-top: 5px;
          height: 100%;
          //background-color: #dac29f;
          padding: 5px 5px;
        }
      }

    }
    .layout-footer {
      grid-area: footer;
      //align-self: end;
      background-color: #303031;
      color: #b2b3ac;
      text-align: center;
      padding: 5px 5px;

      div {
        height: 100%;
        text-align: center;
        h3 {
          margin: auto 0;
          display: inline-block;
        }
      }
    }
   }