[viewBag]
==
<nav class="navbar">
                    <span class="navbar-toggle test">
                        <i class="fas fa-bars"></i> 
                    </span>
                    
                    <!-- <a href="#" class="logo">Logo</a> -->
                    <ul class="main-nav">
                        <li><a href="#home" class="nav-links">Home</a></li>
                        <li><a href="#a1" class="nav-links">O mnie</a></li>
                        <li><a href="#a2" class="nav-links">Porfolio</a></li>
                        <li><a href="#a3" class="nav-links">Technologie</a></li>
                        <li><a href="#a4" class="nav-links">Kontakt</a></li>
                    </ul>
</nav>