description = "Links"

[viewBag]

[builderList builderList2]
modelClass = "GrzegorzCzekaj\Ogloszenia\Models\Links"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
sortColumn = "position"
sortDirection = "asc"
==
<?php
use \Grzegorzczekaj\Dynamiclink\Models\Links;

function onStart()
{
   
  //  $this['news'] = News::where('id', '1')->get();
 // $cat = Categories::where('slug',$slugcat)->first();
  //$this['news'] = $cat->news()->get();
  //$this['news'] = News::where('category', $cat.id)->get();
  //dd($news);
}
?>
==
<a data-toggle="modal" href="#contentBasic" class="btn-links btn btn-primary" >
                Linki
</a>

<div class="control-popup modal fade" id="contentBasic">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
               
{% set records = builderList2.records %}
{% set displayColumn = builderList2.displayColumn %}
{% set noRecordsMessage = builderList2.noRecordsMessage %}
{% set detailsPage = builderList2.detailsPage %}
{% set detailsKeyColumn = builderList2.detailsKeyColumn %}
{% set detailsUrlParameter = builderList2.detailsUrlParameter %}

<div class="linki">
    {% for record in records %}
    
            {# Use spaceless tag to remove spaces inside the A tag. #}
            {% spaceless %}
       
                    
                    {% if record.check == 2 %}
                       <a href="{{ record.link }}" style="background-image:linear-gradient(to right, {{record.backgr_color_start}}, {{record.backgr_color_end}})">
                        {{ attribute(record, displayColumn) }}
                      </a>
                    {% elseif record.check == 1 %}
                    <a href="{{ record.link }}">
                      <img  src="{{record.backgr_image|media}}"/>
                      </a>
                    {% endif %}
                
                       
                    </a>
                
            {% endspaceless %}
        
    {% else %}
        <li class="no-data">{{ noRecordsMessage }}</li>
    {% endfor %}
</div>


            </div>
        </div>
    </div>
</div>