description = "Links"

[viewBag]

[builderList builderList2]
modelClass = "GrzegorzCzekaj\Ogloszenia\Models\Links"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
sortColumn = "position"
sortDirection = "asc"
==
<?php
use \Grzegorzczekaj\Dynamiclink\Models\Links;

function onStart()
{
   
  //  $this['news'] = News::where('id', '1')->get();
 // $cat = Categories::where('slug',$slugcat)->first();
  //$this['news'] = $cat->news()->get();
  //$this['news'] = News::where('category', $cat.id)->get();
  //dd($news);
}
?>
==
<!-- <a data-toggle="modal" href="#contentBasic" class="btn-links btn btn-primary" >
                Linki
</a> -->
<a href="#modalCenter" role="button" class="btn btn-primary btn-links" data-toggle="modal">Linki</a>

{% set records = builderList2.records %}
{% set displayColumn = builderList2.displayColumn %}
{% set noRecordsMessage = builderList2.noRecordsMessage %}
{% set detailsPage = builderList2.detailsPage %}
{% set detailsKeyColumn = builderList2.detailsKeyColumn %}
{% set detailsUrlParameter = builderList2.detailsUrlParameter %}

<!-- Modal HTML -->
<div id="modalCenter" class="modal fade" tabindex="-1">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Linki</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                
                  <div class="linki">
                        {% for record in records %}
                        {% if record.check == 2 %}
                            <a href="{{ record.link }}" style="background-image:linear-gradient(to right, {{record.backgr_color_start}}, {{record.backgr_color_end}})">
                                {{ attribute(record, displayColumn) }}
                              </a>
                        {% elseif record.check == 1 %}

                            <a href="{{ record.link }}">
                            <figure>
                                <img src="{{record.backgr_image|media}}" alt="Link" class="gallery_img">
                            </figure>
                            </a>
                            {% endif %}
                    {% endfor %}
                  </div>
                
            </div>
            
        </div>
    </div>
</div>





{#
<div class="linki">
    {% for record in records %}
            {% spaceless %}
        
                    {% if record.check == 2 %}
                       <a href="{{ record.link }}" style="background-image:linear-gradient(to right, {{record.backgr_color_start}}, {{record.backgr_color_end}})">
                        {{ attribute(record, displayColumn) }}
                      </a>
                    {% elseif record.check == 1 %}
                    <a href="{{ record.link }}">
                      <img src="{{record.backgr_image|media}}"/>
                      </a>
                    {% endif %}
                
                       
                    </a>
                
            {% endspaceless %}
        
    {% else %}
        <li class="no-data">{{ noRecordsMessage }}</li>
    {% endfor %}
</div> 


            </div>
        </div>
    </div>
</div>
#}